body {
    margin: 20px;
    font-family: Verdana, Geneva;
}

.avatar {
    width: 150px;
    border: 2px solid #8A14FF;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #E3F2FD;
    color: #0D3B66;
    border-bottom: 4px solid #7A28CB;

}

.border-blue {
    border: 1px dotted blue;
}

h3:hover {
  background-color: yellow;
  font-size: 20px;
}

